body{
    margin: 0;
    padding: 0;
    font-family: 'Righteous', cursive;
    background-color: #A78682;
}
#Title{
    font-size:3vw;;
    text-align:left;
}
    
#Display{
    grid-area: box1;
}

#Controls{
    font-size: 2vw;
}

#controls1{
    grid-area: subBox1;
    padding-left: 0.5vw;
}

#controls2{
    font-size: 1vw;
    grid-area: subBox2;
    padding-left: 0.5vw;
}

footer{
    grid-area: subBox3;
    text-align: center;
    font-size:1vw;
}

#controls2 p {
    font-size: 1vw;
}

#controls2 h2 {
    font-size: 2.5em;
}

#controls2 h3 {
    font-size: 1.5em;
}

#main{
    grid-area: box2;

    display: grid;
    grid-template-rows: 10vh 50vh 10vh;
    grid-template-areas: 
    "subBox1"
    "subBox2"
    "subBox3";
}

.grid{
    display: grid;
    grid-template-rows: 100vh;
    grid-template-columns: 50vw 50vw;
    grid-template-areas: "box1 box2";
}

hr {
    background-color: #EFE6DD;
}

#color{
    width: 2vw;
    height: 2vh;
    font-size: 3em;
}

#divergence {
    width: 2vw;
    height: 2vh;
    background-color: aquamarine;
    font-size: 3em;
}

#fps{
    -webkit-appearance: none;
    border: 1px  #2176AE solid;
    width: 30vw;
    height: 2vh;
}

#fps::-webkit-slider-thumb{
    -webkit-appearance: none;
    width:1vw;
    height:2vh;
    background-color: #2176AE;
    cursor: pointer;
}

#slider{
    -webkit-appearance: none;
    border: 1px  #2176AE solid;
    width: 30vw;
    height: 2vh;
}

#slider::-webkit-slider-thumb{
    -webkit-appearance: none;
    width:1vw;
    height:2vh;
    background-color: #2176AE;
    cursor: pointer;
}

#sliderForRocketSize{
    -webkit-appearance: none;
    border: 1px  #2176AE solid;
    width: 30vw;
    height: 2vh;
}

#sliderForRocketSize::-webkit-slider-thumb{
    -webkit-appearance: none;
    width:1vw;
    height:2vh;
    background-color: #2176AE;
    cursor: pointer;
}

#sliderForSize{
    -webkit-appearance: none;
    border: 1px  #2176AE solid;
    width: 30vw;
    height: 2vh;
}

#sliderForSize::-webkit-slider-thumb{
    -webkit-appearance: none;
    width:1vw;
    height:2vh;
    background-color: #2176AE;
    cursor: pointer;
}

#sliderForExplosion{
    -webkit-appearance: none;
    border: 1px  #2176AE solid;
    width: 30vw;
    height: 2vh;
}

#sliderForExplosion::-webkit-slider-thumb{
    -webkit-appearance: none;
    width:1vw;
    height:2vh;
    background-color: #2176AE;
    cursor: pointer;
}

#clockwiseCheck{
    width: 1vw;
    height: 1vw;
}

a {
    
    color:#000000;
}

a:hover{
    color: #C6D8AF;
}

a:active{
    color: #2176AE;
}












